@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');

// reset styles. Normalize.css imports first in app.js file
@import "./base/settings";
@import "./base/base";
@import "./base/typography";
@import "./base/forms";

// General styles
@import "./forms";

// Components styles
@import "../components/Logo/Logo";
@import "../components/Authorization/Authorization";
@import "../components/Authorization/LocalAuthorization/Register/Register";
@import "../components/LoadingPage/LoadingPage";