// COLORS
// text
$white: #fff;

$light-grey: #b3b3b3;
$dark-grey: #333;

$red: #FF1939;
$blue: #286ebb;
$deep-blue: #286ebb;


// form
$form-container-border-color: #d8dadb;
$input-border-color: #ddd;
$border-radius: 0.5rem;

// font size
$font-m-size: 1.6rem;
$font-l-size: 3.6rem;

// Spacing
$gap-s-size: 1rem;
$gap-m-size: 1.5rem;
$gap-l-size: 2rem;
$gap-xl-size: 3rem;
$gap-xxl-size: 5rem;

$desktop-breakpoint: 600px; //rem works incorrect